.container {
  width: 90%;
  margin: auto;
}


@media (max-width: 768px) {
  .nav { display: none; }
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

